.NavButton {
    padding: 2.5vh 15px;
    background-color: #232020;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    font-family: Gotham;
    font-size: 2vh;
    transition: background-color 0.25s;
    cursor: pointer;
}

.NavButton:focus {
    outline: none;
}

.NavButton:hover {
    background-color: #131111;
}

.NavButton.active:hover {
    background-color: #bb5511;
}

.active {
    background-color: #ec6912;
}